header {
  height: 85px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
}

header nav {
  padding-top: 10px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul .header__logo {
  cursor: pointer;
}

header nav ul a {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 29px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header nav ul a:hover {
  color: #ff9887;
}

.responsibilities__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.responsibilities__inner .responsibilities__item {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.responsibilities__inner .responsibilities__item img {
  margin-right: 15px;
}

.responsibilities__inner .responsibilities__item span {
  font-size: 18px;
  color: #000000;
}

.responsibilities__btn,
.responsibilities__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

button {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  background-color: #fc573b;
  border-radius: 23px 0 23px 0;
  padding: 15px 25px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

button:hover {
  border-radius: 0 23px 0 23px;
  background-color: #ff9887;
}

.result__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result__inner .result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 11%;
}

.result__inner .result__item span {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.customer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer__inner .customer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 48%;
  margin: 25px 0;
}

.customer__inner .customer__item img {
  margin-right: 25px;
}

.customer__inner .customer__item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.customer__inner .customer__item span {
  font-size: 18px;
  line-height: 29px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

section {
  margin: 80px 0;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

h2 {
  color: #000000;
  font-weight: bold;
  font-size: 58px;
  line-height: 59px;
  text-align: center;
  margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */