@import "./variables.scss";

.footer {
  background: $lightOrange;
  padding: 15px 0 25px 0;
  border-radius: 80px 0;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
