@import "./variables.scss";

header {
    height: 85px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);

    nav {
        padding-top: 10px;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header__logo {
                cursor: pointer;
            }

            a {
                color: $black;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 29px;
                transition: all 0.2s;

                &:hover {
                    color: $peach;
                }
            }
        }
    }
}
